.box-shadow {
  box-shadow: 5px 5px 20px grey;
}
.main-content {
  padding-top: 50px;
}
.aside-element {
  border: 3px #77ceee solid;
  padding: 15px;
  margin: 30px 0px 20px 0px;
  background-color: #d1eef9;
  box-shadow: 5px 5px 20px grey;
  display: block;
}
.aside-element img {
  width: 100%;
}
footer {
  border-top: 3px #77ceee solid;
  padding-top: 20px;
  margin-top: 20px;
}
