@import "less/library.less";

@theme-primary-light: lighten(#33b5e5, 35);
@theme-primary-dark: lighten(#33b5e5, 15);

@theme-border: 3px @theme-primary-dark solid;

@theme-box-shadow: 5px 5px 20px grey;

.box-shadow{
    box-shadow: @theme-box-shadow;
}

.main-content {
    padding-top: 50px;
}

.aside-element {
    border: @theme-border;
    padding: 15px;
    margin: 30px 0px 20px 0px;
    background-color: @theme-primary-light;
    box-shadow: @theme-box-shadow;
    display: block;

    img{
        width: 100%;
    }
}

.footer-links{
    border-top: @theme-border;
    padding-top: 20px;
    margin-top: 20px;
}

.loading-widget{
	background:url(../images/loadingicon.gif) no-repeat center center;
	width: 192px;
	height: 192px;
	margin: 0 auto;
}